:root {
    --background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    font-size: 100%;
}

.bars {
    background: var(--background-color);
}

.bars svg .labels {
    font-size: 0.8rem;
    text-align: left;
}

.circles svg .labels {
    font-size: 0.8rem;
    text-align: center;
    text-anchor: middle;
}

.bars svg .bar {
    fill: #2b00ff;
}

.bars svg .max-bar {
    stroke: #000000;
    stroke-width: 2px;
}

.bars svg .bar.apples {
    fill: #ff0000;
}

.bars svg .bar.dates {
    fill: #801515;
}   

.bars svg .bar.bananas {
    fill: #ffff00;
}

.bars svg .bar.cherries {
    fill: #ff007f;
}   

.bars svg .bar.elderberries {
    fill: #4b0082;
}   

.bars svg .bar.figs {
    fill: #8b4513;
}   

.bars svg .bar.grapes {
    fill: #800080;
}   
.bars svg .bar.honeydew {
    fill: #f0fff0;
}   



.x-axis .tick text {
  font-size: 7px;
  fill: #333;
}